#avmenu {
  clear:left;
  float:left;
  width:150px;
  margin:0 0 10px 0;
  padding:0;
  font-size:0.9em;
}

#avmenu ul#primary-links {	
  list-style:none;
  width:150px;
  margin:0 0 20px 0;
  padding:0;
  font-size:1.1em;
}	

#avmenu ul#primary-links li {
  margin-bottom:4px;
}

#avmenu ul#primary-links li a {
  font-weight:bold;
  height:20px;
  text-decoration:none;
  color:#505050;
  display:block;
  padding:6px 0 0 10px;
  background:#f4f4f4;
  border-left:4px solid #cccccc;
}	
	
#avmenu ul#primary-links li a:hover{
  background:#eaeaea;
  color:#286ea0;
  border-left:4px solid #286ea0;
}

.announce {
  margin:10px 0 10px 0;
  padding:10px;
  width:130px;
  color:#505050;
  background-color:#f4f4f4;
  line-height:1.3em;
}

#extras {
  float:right;
  width:120px;
  margin:0 0 10px 0;
  padding:0;
  font-size:0.9em;
  line-height:1.5em;
}

#extras p {
  margin:0 0 1.5em 0;
}

.left {
  margin:10px 10px 5px 0;
  float:left;
}

.right {
  margin:10px 0 5px 10px;
  float:right;
}

.textright {
  text-align:right;
}

.center {
  text-align:center;
}

.small {
  font-size:0.8em;
}

.bold {
  font-weight:bold;
}

.hide {
  display:none;
}

/*
--------------------------------------------------
Basic Page Layout
--------------------------------------------------
*/

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  line-height: 1.4em;
  text-align: center;
  background: #F2F2F2 url(bg_col1r.png) top center repeat-y;
  padding: 0;
  margin: 0;
}
	
#content {
  background-image: url(frontpage_bg.gif);
}

#primary {
  float: left;
  width: 384px;
  margin-right: 11px;
}

#secondary {
  width: 320px;
  background-image: url(secondary_bg.gif);
}
/*
--------------------------------------------------
Primary Content
--------------------------------------------------
*/

/* MISSION STATEMENT FOR PRIMARY PAGE */

#mission {
  background: #CCD6DF url(missionbg.png) top left repeat-y;
  width: 382px;
  margin: 0 0 5px 0;
  padding: 2px 0 2px 0;
}

#mission h2 { 
  font: normal 1.7em georgia, "Times New Roman", serif; 
  color: #414141; 
  letter-spacing: -1px; 
  background: transparent url(missiontop.png) top left no-repeat; 
  padding: 30px 30px 0 30px; 
  margin:0;
}

#mission p { 
  margin: 0.5em 0; 
  padding: 0 30px; 
}

#mission div.close-mission { 
  background: #fff url(missionbtm.png) top left no-repeat; 
  padding: 25px 0; 
  width: 382px; 
  margin: 0; 
}

#mission ul.thumbs { 
  padding: 0 0 0 30px; 
}

#mission a:hover { 
  background: #F2F2F2;
}

.more {
  font-family: Georgia,"Times New Roman",Times,sans-serif;
  font-size: 13px;
  font-variant: small-caps;
  letter-spacing: .1em;
  text-indent: 0;
  text-transform: lowercase;
  padding-left: 15px;
}

.more a:link {
  color: #414141;
  border-bottom: 1px dotted #414141;
}

.more a:visited {
  color: #414141;
  border-bottom: 1px dotted #ccccd6;
}

.more a:hover {
  color: #c33;
  border-bottom: 1px solid #c33;
}

.more a:active {
  color: #933;
  border-bottom: 1px solid #933;
}
	
/*  H1 CONTROLS MAIN NODE TITLES AND HOVERS */

h1 {
  clear: left;
  font: normal 1.8em georgia, "Times New Roman", serif;
  color: #414141;
  border-bottom: 1px dotted #B3B3B3;
  margin-bottom: 0.6em;
}
	
h1 a:link, h1 a:visited	{
  color: #27596D;
  letter-spacing: -1px;
  text-decoration: none;
  border: none;
}

h1 a:hover {
  color: #27596D;
  text-decoration: none;
  background: #F9ECBA;
  border-bottom: 1px solid #aaa;
}

/*  H2 USED ON NODE "POST COMMENTS" SECTION */

h2 {
  color: #933;
  font-size: 1em;
}
	
.box h2, .title h2 {
  color: #933;
  font-size: 1.3em;
}

/*  H3 USED ONLY ON SITEMENU PAGE. DRUPAL SITEMENU MODULE NEEDED */

h3 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #414141;
  padding-bottom: .2em;
  border-bottom: 1px solid #ccccd6;
  margin: 1em 0 1em 0;
}

/*  H4 USED WITHIN NODE FOOTER, LIKE "POSTED BY," ETC.  */

h4 {
  clear: both;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: .8em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: .2em 0 .3em 0;
  border-top: 1px dashed #414141;
  border-bottom: 1px solid #414141;
  margin: 2em 0;
}

/*  H5 USED WITHIN NODE CONTENT LAYOUT  */

h5 {
  font-size: 1.3em;
  font-weight: bold;
  color: #414141;
  margin: 10px 3px 10px 3px;
}

/*  H6 CONTROLS PAGE FOOTER STYLES  */

h6 {
  font-family: Verdana,Arial;
  font-size: 10px;
  text-align: center;
  line-height: 1.5em;
  color: #414141;
  width: 725px;
  clear: both;
  background-image: url(footerbg.gif);
  background-position: top;
  background-repeat: repeat-x;
  padding: 1.5em 0 2em 0;
  border-top: 1px solid #393939;
  border-bottom: 20px solid #2C2C2C;
  margin: 0;
}

p {
  margin: 12px 3px 12px 3px;
  font-size: 13px;
}

a:link, a:visited {
  color: #005189;
  text-decoration: none;
  border-bottom: 1px dotted #005189;
}

a:hover {
  color: #994D00;
  text-decoration: none;
  border-bottom: 1px solid #c33;
}

em, cite {
  font-style: italic;
}

strong {
  font-weight: bold;
}

blockquote, pre {
  border-left: 5px solid #6B6A6A;
  padding: 0 10px 0 10px;
  margin: 25px;
  font-size: 12px;
  color: #696969;
  text-align: left;
}

.price {
  color: #933;
  font-size: 1.1em;
  font-weight: bold;
}

code {
  color: #933;
  font-family: Monaco,"Courier New",Courier,monospace;
}

code {
  font-size: .85em;
}

ul, ol {
  padding: 0;
  margin: .5em 0 2em 0;
}

ul {
  list-style-type: none;
}

ul li {
  padding-left: 15px;
  background-image: url(grbullet.gif);
  background-position: 2px .5em;
  background-repeat: no-repeat;
}

.tabs ul li {
  padding-left: 0px;
  background-image: none;
}

li {
  margin: 0;
}

#primary li {
  margin: 0px 20px 5px 10px;
}

img {
  display: inline;
  padding: 0;
  border: 0;
}

form {
  margin: 0;
}

form p {
  text-indent: 0;
}

fieldset {
  display: inline;
  padding: 0;
  border: none;
  margin: 0;
}

input {
  display: inline;
  vertical-align: middle;
}

/*
--------------------------------------------------
PAGE LAYOUT, CONTENT WRAP, AND LOGO STUFF
--------------------------------------------------
*/

#globalwrap {
  width: 725px;
  padding: 0;
  margin: auto;
}

#header {
  line-height: 0;
  width: 100%;
  padding: 0;
  border-top: 8px solid #2C2C2C;
  margin: 0px;
}

#header a	{
  border: none;
}

#logo {
  display: block;
  position: relative;
  height: 125px;
  background: url(header_bg.png) no-repeat;
  padding: 0;
  border-width: 0;
  margin: 0;
}
	
#content {
  float: left;
  text-align: left;
  margin: 15px 0 20px 0;
  font-size: 12px;
  line-height: 1.6em;
}

#primary {
  float: left;
  width: 454px;
  background-color: #fff;
  margin-right: 11px;
}

#secondary {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:0.90em;
  line-height: 1.6em;
  float: right;
  width: 250px;
  background-color: #fff;
  border-bottom: 1px solid #DBDBDB;
  margin: 0 0 0 10px;
}
	
/*
--------------------------------------------------
Secondary Content
--------------------------------------------------
*/
#secondary2 {
  float: right;
  padding-left: 10px;
  width: 150px;
  border-left: 1px solid #DBDBDB;
}

#midcol1, #mainservices, #consumption, #playlist {
  padding-bottom: 2em;
}

#midcol1 h2 {
  padding-left: 15px;
  background-image: url(grbullet.gif);
  background-position: 2px .5em;
  background-repeat: no-repeat;
}

#secondary ul {
  margin-bottom: 1.5em;
}

#secondary li h2 {
  padding: 0;
  margin: .5em 0 0 0;
  border: 0;
}

/*
--------------------------------------------------
BASIC PAGE LAYOUT
--------------------------------------------------
*/

#content {
  background-image: url(frontpage_bg.gif);
}

#primary {
  float: left;
  width: 384px;
  margin-right: 11px;
}

#secondary {
  width: 320px;
  background-image: url(secondary_bg.gif);
}

/*
--------------------------------------------------
TOP NAVIGATION STYLES
--------------------------------------------------
*/
#nav {
  width: 725px;
  padding: 0;
  margin:0 auto;
  height: 32px;
  background: url(behindnav.png) no-repeat;
}

#subNav {
  font-family: Arial,sans-serif;
  font-size: 1em;
  padding: 0 0px 0 15px;
  color: #3D5761;
  line-height: 32px;
  float: left;
}

#subNav a {
  margin: 0 2px 1px 0;
  padding: 5px;
  border-bottom: none;
}

#subNav a:link, #subNav a:visited {
  color: #FFF;
  text-decoration: none;
  border-botom: none;
}

#subNav a:hover {
  color: #DAE4E6;
  text-decoration: none;
  background: #343534;
  border-bottom: 3px solid #fff;
}

/*
--------------------------------------------------
MISC. PRIMARY CONTENT/NODE STYLES
--------------------------------------------------
*/

.caps {
  font-variant: small-caps;
  letter-spacing: .1em;
  text-transform: lowercase;
}

.warning {
 color: #c00;
  padding: 1em 0;
}

.post {
  padding-top: .2em;
}

.post h1 {
  padding-bottom: .2em;
  border-bottom: 2px solid #414141;
  margin: 0 0 .5em 0;
}

.post ul, .post ol, post li {
  margin: 1em 2em 1em 1em;
}

p.categories, p.responsibilities {
  color: #7f7f99;
  font-variant: small-caps;
  letter-spacing: .1em;
  text-align: center;
  text-transform: lowercase;
  text-indent: 0;
  margin: 1em 0;
}

/*
--------------------------------------------------
COMMENT STYLES
--------------------------------------------------
*/
.box {
  max-width: 300px;
}

.comtitle {
  color: #933;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0px 0 0 25px;
}

.commentbox {
  background-color: #ececec;
  width: 364px;
  padding: 10px;
}

.comment-title {
  font-size: 14px;
  font-weight: bold;
}

.commentfooter {
  background: url(arrow.gif) 20px 0 no-repeat; 
  padding-left: 58px;
  padding-top: 1px;
  margin-bottom: 2em;
  font-size: 90%;
  color: #4A4A4A;
}

/*
--------------------------------------------------
SECONDARY CONTENT
--------------------------------------------------
*/

#colheader2 { 
  border: 6px solid #E8E8E8; 
  background: #fff; 
  clear: both; 
  margin: 0.2em; 
  padding: 0.3em; 
}

#colheader2 h1 { 
  clear: none; 
  font-size: bold 1.2em georgia, "Times New Roman", serif; 
  color: #6D6D6D; margin: 
  0.1em 0.5em; 
}

#colheader2 img { 
  padding: 0.3em; 
}

#secondary h1 {
  margin: 0;
}

#secondary h2 {
  margin: .5em 0;
}

#secondary h2, #secondary caption	{
  font: bold 1.1em georgia, "Times New Roman", serif; color: #414141;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 2px solid #414141;
}

#secondary h2 {
  padding: 0 0 .2em .2em;	
}

#secondary caption {
  background-image: url(bullet.gif);
  background-position: 2px .5em;
  background-repeat: no-repeat;
  padding: 0 0 .2em 15px;
  margin-bottom: 1em;
}

/*
--------------------------------------------------
SECOND COLUMN STYLES
--------------------------------------------------
*/

#secondary1 {
  float: left;
  width: 150px;
}

#secondary1 p {
  margin: 0 0 0 2px;
}

ul.lined {
  display:block; 
  font-size: 11px;
}

ul.lined li { 
  border-top: 2px solid #fff; 
  padding: 3px 2px 3px 5px; 
  background: #EDEDED; 
}

ul.lined li a { 
  color: #414141; 
  border-bottom: none; 
}

ul.lined li a:hover { 
  background: #fff; 
  color: #414141; 
  border-bottom: 2px solid #fff;
}

.adsense {
  margin: 5px 5px 5px 15px;
}

/*
--------------------------------------------------
SEARCH FORM STYLES
--------------------------------------------------
*/


#search {
  background-color: #EDEDED;
  padding: 10px;
  border-top: 1px dashed #ccccd6;
  border-bottom: 1px dashed #ccccd6;
  margin-bottom: 1em;
}

#search p	{
  display: inline;
}

input.query {
  width: 65%;
}

input.submit {
  width: 25%;
  color: #fff;
  font-variant: small-caps;
  letter-spacing: .1em;
  text-transform: lowercase;
  background-color: #ccccd6;
}

/*
--------------------------------------------------
PAGING STYLES
--------------------------------------------------
*/

#pager {
  clear: both;
  padding: 10px 0px 3px;
}

#pager div {
  padding: 0em;
  display: inline;
}

#pager strong, #pager a {
  color: #414141;
  padding: 2px 5px;
  margin: 0px 0.25em 0px 0.25em;
  background: #dfedf7;
  border: 1px solid #90c2e1;
  -moz-border-radius: 1px;
}

#pager a:hover {
  text-decoration: none;
  background: #eef7fc;
}

#pager strong {
  background: #0174bb;
  color: #fff;
}

