/* for Drupal */

/* print-fixes */
@media print {
  a.xml-icon,
  a.feed-icon {
  display: none;
  }
}

/* For Admin-pages */
tr.watchdog-notice td, 
tr.watchdog-warning td, 
tr.watchdog-error td {
font-family: Verdana,Tahoma,Arial,sans-serif;
font-size: 7px;
}

/* Fix forms wrapping under the sidebars */
.node-form .standard,
.profile,
.form-item,
img .image preview,
#tracker,
#system_theme_settings {
width: 95%;
clear: none;
}

.description {
	width: 375px;
}

div.form-item {
	width: 95%;
}

div.table, {
	width: 95%;
}

.form-item label {
font-size: 1em;
color: #222;
}

.form-item .textarea {
width: 95%;
border: 1px solid #999999;
margin-top: 0.5em;
}

.form-item .form-text {
width: 95%;
border: 1px solid #999999;
margin-top: 0.5em;
}

/* Fix some login-form-thingies */
#user-login-form .item-list ul {
padding-top: 4px;
}

#user-login-form .item-list ul li {
list-style: square;
font-size: 0.75em;
}

/* fixes the sidebars
  ------------------------------ */

/* links */
.info {
text-align: right;
font-size: 0.75em;
}

.info a {
text-decoration: none;
}

.info a:hover {
text-decoration: underline;
}

/* Some styling for messages */
.error {
border: 1px solid #f0000c;
padding: 5px;
background: #FFCCCE;
}

.status {
border: 1px solid #00CC00;
padding: 5px;
background: #CCFFCC;
}

/* workarounds and hacks */
table {
border-collapse: collapse;
}

.resizable-textarea,
.form-textarea,
#edit-comment,
#edit-subject,
#edit-site_mission,
#edit-site_footer,
#watchdog_form_overview {
width: 95%;
display: inline;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix {
display: inline-table;
}

/* Hides from IE-mac \*/
* html #wrap #avmenu .announce{
width: 130px;
}

* html .clearfix {
height: 1%;
}

.clearfix {
display: block;
}
/* End hide from IE-mac */

/* ADDED FOR CLEANER ADMIM INTERFACE */
#top_menu ul li {
padding:0;
margin:0;
background-position:left;
position:relative;
}

#top_menu ul li a {
padding:0 1em 0 1.5em;
}

#top_menu {
background-color:#eeeeee;
}

#top_menu li a {border-bottom:0.25em solid #cccccc;}
#top_menu li a.active {background-color:#F5F5F5;border-bottom:0.25em solid #459cce;}
#top_menu li li a {border-bottom-style:none;}

/*
** Menu style override
*/
.menu {
  padding: 0;
}

li.expanded, li.collapsed, li.leaf, .item-list ul li	{
	background-position: 2px .5em;
	background-repeat: no-repeat;
 	 padding: 0.2em 0.5em 0 15px;
	list-style-type : none;
	list-style-image: none;
	  margin: 0;

}

.item-list ul li {
	background-image: url(bullet.gif);
}

td.menu-disabled {
  background: #ccc;
}

/*
**Header overwriting
*/
#header {
	background-image : url(header_bg_wo.png);
	height : 125px;
	padding : 0px 0px 0px 0px;
}

.site-name , .site-name A,.site-name A:hover,.site-name A:visited,.site-name A:active, .site-name A:link{
	background-color: transparent;
	color: #fff;
	text-align : left;
	font-size : 45px;
	padding : 10px;
	border-bottom-style : none;
}